:root{
    --renk1: rgb(155, 149, 142);
    --renk2: rgba(39, 35, 34);
    --renk3: rgba(194, 136, 81);
    --arkaplan: rgba(28, 25, 23);
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: var(--arkaplan);
    color: white;
}

h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

p{
    color: var(--renk1);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.navbar{
    background-color: var(--renk2);
    padding: 15px 30px;
    border-bottom: 2px solid var(--renk2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(194,136,81,0.5); 
}

.logo{
    font-size: large;
    cursor: default;
    font-weight:bold;
    color:var(--renk3);
}

.logo-photo{
    position: absolute;
    left: 5px;
    width: 20px;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none; 
}

.nav-links a{
    text-decoration: none;
    font-weight: bold;
    color: var(--renk1);
    transition: 0.5s;
}

.nav-links a:hover{
    color: var(--renk3);
}

.container{
    max-width: 1000px;
    padding: 60px;
    margin: auto;
}

.buyuk-kart{
    background-color: var(--renk2);
    color:white;
    cursor: default;
    text-align: center;
    border-radius: 12px;
    padding: 60px;
    backdrop-filter: blur(12px);
    box-shadow: 0px 4px 6px -1px rgba(194,136,81,0.5);
}

.haftanin-menusu{
    position: relative;
    top: 20px;
    font-weight: bold;
    background-color: var(--renk3);
    color:white;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px -1px rgba(250,250,250,0.5);
}

.haftanin-menusu:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 10px -3px rgba(250, 250, 250, 0.8);
    transition: transform 0.8s, box-shadow 0.8s;
}

.kartlar-tum{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
       
}

.kartlar{
    background-color: var(--renk2);
    border-radius: 12px;
    flex: 1;
    cursor: default;
    min-width: 250px;
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 6px -1px rgba(194,136,81,0.5); 
    transition: transform 0.5s, box-shadow 0.5s;
}
.kartlar-yazi{
    padding: 0 20px;
}

.kartlar:hover{
    backdrop-filter: blur(12px);
    transform: scale(1.05);
    box-shadow: 0 12px 18px -3px rgba(194,136,0,0.8);
}

.kartlar-photo{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 10px;
}

.kartlar a{
    text-decoration: none;
    font-size: small;
    color: white;
    font-weight: bold;
}

.fiyat{
    display: flex;
    color: var(--renk3);
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-weight: bold;
}

.sticker{
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: uppercase ;
    font-size: x-small;
    font-weight: bold;
    background-color: var(--renk3);
    color:white;
    border-radius: 20px;
    padding: 4px 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5); 
    
}

.masa-ayirt{
    position: fixed;
    bottom:20px;
    right:20px;
    background-color: var(--renk3);
    color:white;
    padding:10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    z-index: 999;
    animation: glow 0.8s infinite alternate;
}

.masa-ayirt:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

@keyframes glow{

    0%{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }

    100%{
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }

}

    


