:root{

    --renk1: #F8FAFC;
    --renk2: rgba(44, 58, 77);
    --renk3: rgba(55, 160, 250);
    --renk4: rgba(150, 150, 150);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: var(--renk1);
}

h1{
    font-size: 20px;
     
}

p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.navbar{
    background-color: var(--renk2);
    padding: 15px 30px;
    border-bottom: 2px solid var(--renk2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5); 
}

.logo{
    font-size: x-large;
    font-weight:bold;
    color:var(--renk3);
}

.nav-links{
    display: flex;
    gap: 25px;
    list-style: none; 
}

.nav-links a{
    text-decoration: none;
    font-weight: bold;
    color: var(--renk4);
    transition: 0.5s;
}

.nav-links a:hover{
    color: var(--renk3);  
}

.container{
    max-width: 1000px;
    padding: 30px 45px; 
    align-items: center;
    margin: auto;
}

.buyuk-kart{
    background-color: var(--renk2);
    color:white;
    align-items: center;
    text-align: left;
    border-radius: 12px;
    padding: 45px 35px;
    box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.5); 
}

p{
    color: var(--renk4)
}

.editor-secim{
    position: relative;
    top: -20px;
    text-transform: uppercase ;
    font-size: x-small;
    font-weight: bold;
    background-color: var(--renk3);
    border-radius: 20px;
    padding: 3px 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5); 
}

.kartlar-tum{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
       
}

.kartlar{
    background-color: white;
    border-radius: 12px;
    padding: 5px 25px;
    position: relative;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5); 
    transition: transform 0.5s, box-shadow 0.5s;
}

.kartlar:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 20px -3px rgba(0,0,0,0.8);
}

.kartlar a{
    text-decoration: none;
    font-size: small;
    color: var(--renk3);
    font-weight: bold;
}

.populer{
    position: relative;
    top: -15px;
    right: -175px;
    text-transform: uppercase ;
    font-size: x-small;
    font-weight: bold;
    background-color: var(--renk3);
    color:white;
    border-radius: 5px;
    padding: 4px 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5); 
    
}

.yeni{
    position: relative;
    top: -15px;
    right: -200px;
    text-transform: uppercase ;
    font-size: x-small;
    font-weight: bold;
    background-color: var(--renk3);
    color:white;
    border-radius: 5px;
    padding: 4px 10px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5); 
}

.bulten-btn{
    position: fixed;
    bottom:20px;
    right:20px;
    background-color: var(--renk3);
    color:var(--renk1);
    padding:10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    z-index: 999;
}

.bulten-btn:hover{
    transform: scale(1.05);
    color: var(--renk2);
    box-shadow: 0 12px 20px -3px rgba(0,0,0,0.8);
    transition: transform 0.5s, box-shadow 0.5s;
}


